<div class="switch-summary-component hidden">
    <div class="totals-info">
        <div>
            <span>Total:</span>
            <strong data-total>190</strong>
        </div>
        <div>
            <span>Checked:</span>
            <strong data-checked>40</strong>
        </div>
        <div>
            <span>Unchecked:</span>
            <strong data-unchecked>40</strong>
        </div>
        <div>
            <span>Success:</span>
            <strong data-success-percentage>40</strong><strong>%</strong>
        </div>
    </div>
</div>