<div class="dashboard-flashcard-group-component" data-color>
    <div class="flashcard-content">
        <div class="flashcard-left-col">
            <div class="flashcards-icons">
                <img class="flashcard-group-image" src="/img/icons/cards.png" alt="Flashcard image">
            </div>
            <div>
                <strong data-name>Thinking</strong>
            </div>
        </div>
        <div class="flashcard-right-col">
            <div class="count-info">
                <span class="flashcard-count" data-count></span>
                <img class="flashcard-count-image" src="/img/icons/flashcard.png" alt="Count image">
            </div>
        </div>
    </div>
    <div class="flashcard-footer">
        <div class="last-strike-info">
            <span>Last strike:</span>
            <div>
                <div class="green-info square-wrapper">
                    <img class="flashcard-count-image" width="16" height="16" src="/img/icons/check.png" alt="Strike check">
    
                    <span data-check>12</span>
                </div>
                <div class="red-info square-wrapper">
                    <img class="flashcard-count-image" width="16" height="16" src="/img/icons/cross.png" alt="Strike uncheck">
                    <span data-uncheck>12</span>
                </div>
            </div>
        </div>
        <div class="remove-action" role="button">
            <img class="flashcard-count-image" width="20" height="20" src="/img/icons/remove.png" alt="Remove">
        </div>
    </div>
</div>